@{ 
    var currentActiveOption = "";
    if (ViewData["active"] != null)
    {
        currentActiveOption = ViewData["active"].ToString().ToLower();
    }
} 

<div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px; ">
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a asp-area="" asp-controller="Admin" asp-action="Customizations" class="nav-link @(currentActiveOption == "customizations" ? "active" : "") ">
                customizations
            </a>
        </li>
    </ul>
</div>