@model WebMVC.ViewModels.Customization.LoadCustomizationViewModel
<div>
    @*<div class="alert alert-primary" role="alert">
        Ths is a customization
    </div>*@
    @Html.Raw(Model.HTML)
</div>    