@model CatalogCustomization.ViewModels.Catalog.IndexViewModel
<div class="alert alert-primary" role="alert">
    <p>
        This customization adds the ability to change the quantity before adding the item to the cart.
    </p>
    @*<p>
        Aswell as adding a view item button
    </p>*@

</div>

<div class="text-center">
    <div class="row">
        @foreach (var item in Model.CatalogItems)
        {
            <partial name="_item" model="item" />
        }
    </div>
</div>
