@model CatalogCustomization.ViewModels.Catalog.IndexViewModel
@{
    ViewData["Title"] = "Catalog Page";
}
<div class="alert alert-primary" role="alert">
    This customization adds the ability to change the quantity before adding the item to the cart.
</div>

<div class="text-center">
    <div class="row">
        @foreach (var item in Model.CatalogItems)
        {
            <partial name="_item" model="item"/>
        }
    </div>
</div>
