@model WebMVC.ViewModels.Customization.IndexViewModel
@{ 
    var sideData = new ViewDataDictionary(ViewData)
    {
        { "active", "customizations" }
    };
}
<div class="row">
    <partial name="_sidebar" view-data="sideData" />
    <div class="col">
        <div class="text-center">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <h2 class="mr-3">
                        Tenant Customizations
                    </h2>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="Create">New</a>
                </li>
            </ul>
            @if (Model.Customizations != null)
            {
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Service Name</th>
                            <th>Controller Name</th>
                            <th>Method Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    @foreach (var cust in Model.Customizations)
                    {
                        <partial name="_SingleCustomization" model="cust" />
                    }
                </table>
            }
            else
            {
                <h1>No Customizations Found</h1>
            }
        </div>
    </>
</div>
