@model IAM.ViewModels.Account.LoggedOutViewModel

@{ 
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="logged-out-page">
    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Logged Out</h2>
                </div>

                <div class="card-body">
                    <p>You are logged out!</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Login">Go To Login Page</a>
                </div>
            </div>
        </div>
    </div>
</div>